# Porta de execução do servidor
PORT=3000

# Credenciais administrativas do Firebase Admin SDK
# ATENÇÃO: Configure essas variáveis exclusivamente no painel de segredos da hospedagem (ex: Render, Railway)
FIREBASE_PROJECT_ID=fiap-chat-production
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@fiap-chat-production.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQC6example...\n-----END PRIVATE KEY-----\n"
FIREBASE_DATABASE_URL=https://fiap-chat-production-default-rtdb.firebaseio.com
